# Arquivos temporários de cache e banco de dados
*.log
*.ldb
*.lock
*.tmp

# Pastas de cache de navegadores ou Electron
**/Cache/**
**/GPUCache/**
**/ShaderCache/**
**/Code Cache/**
**/DawnGraphiteCache/**
**/DawnWebGPUCache/**
**/GraphiteDawnCache/**
**/Service Worker/**
**/IndexedDB/**
**/Local Storage/**
**/Session Storage/**
**/Cookies
**/History
**/Preferences
**/TransportSecurity
**/QuotaManager
**/Reporting and NEL
**/Sync Data/**
**/shared_proto_db/**
**/Site Characteristics Database/**
**/DevToolsActivePort
**/first_party_sets.db
**/Extension Rules/**
**/Extension Scripts/**
**/Extension State/**
**/Sessions/**
**/Network Persistent State

# Node.js
node_modules/
npm-debug.log*

# Excluir node_modules do wppconnect-server mas permitir o resto
wppconnect-server/node_modules/
wppconnect-server/dist/
wppconnect-server/userDataDir/
wppconnect-server/wppconnect_tokens/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

*QuotaManager-journal
*DIPS-wal


# Arquivos temporários do sistema/bot
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/Default/
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/GrShaderCache/
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/Local State
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/Singleton*
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/Variations
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/segmentation_platform/

SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/**/LOG*
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/**/History-journal
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/**/GrShaderCache/*
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/**/ukm_db
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/**/Singleton*
SistemaPrincipal/TemplatesMensagens/conexao/tokens/TREINAMENTO_BOT/**/Local State

SistemaPrincipal/TemplatesMensagens/tokens/NERDWHATS_AMERICA/Default/Network/Cookies-journal
Cookies-journal
*.journal


SistemaPrincipal/TemplatesMensagens/tokens/NERDWHATS_AMERICA/Default/Safe Browsing Network/Safe Browsing Cookies
*Safe Browsing Cookies


**/GrShaderCache/
**/Safe Browsing Network/
*.log
*.lock
*.tmp
*.bak

**/lockfile


